:root {
  --transparent: rgba(0, 0, 0, 0);
  --white: #fff;
  --black: #000;
  --color-secondary: #9da3a7;
  --color-text: #2c3338;
  --color-body-bg: #f6f7f7;
  --color-border: #dcdcde;
  --color-priority-high: #d82f2f;
  --color-priority-medium: #ff9940;
  --color-priority-low: #ffc107;
  --color-tag: #2c3338;
  --color-heading-highlight: #cab8f9;
  --color-event: #d82f2f;
  --color-task-completed: #bcbcbf;
  --color-link-bg: #ececec;
  --color-quote: #556069;
  --header-height: 40px;
  --color-button-primary: #151515;
  --color-button-secondary: #bcbcbf;
  --color-button-danger: #d82f2f;
  --color-button-warning: #ff9940;
  --color-button-ghost-hover: #f6f7f7;
  --gap: .5rem;
  --border-radius: .5rem;
  --font-mono: "iA Writer MonoS", monospace;
  --font-sans: "Inter var experimental", "Inter var", -apple-system, blinkmacsystemfont, "Segoe UI", roboto, oxygen, ubuntu, cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}

@import "./font-face";
@import "./utilities";
@import "./components";
@import "./note";

html,
body {
  height: 100%;
}

body {
  display: flex;
  font-family: var(--font-sans);
  font-size: 1rem;
  line-height: 1.5;
  color: var(--color-text);
  background: var(--color-body-bg);
}

.invisible {
  opacity: 0;
}

.secondary {
  color: var(--color-secondary);
}

#app {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
}

.app-header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: var(--header-height);
  background: #fff;
  border-bottom: 1px solid var(--color-border);

  &__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    padding: .5rem .5rem;
  }

  nav {
    a {
      color: var(--color-text);
    }

    svg {
      width: 20px;
    }
  }

  .user-avatar {
		padding: 0;
		border-radius: 50px;
		border: 3px solid transparent;
		transition: border .2s ease-in-out;
		vertical-align: middle;

		&:hover {
			border: 3px solid var(--color-border);
		}

		&:focus {
			border-color: var(--color-heading-highlight);
		}
    img {
			width: 32px;
			height: auto;
			border-radius: 50px;
		}
  }
}

.right {
  display: flex;
  align-items: center;
}

.app-logs {
  margin: 0 .5rem;
  font-size: .75rem;
  color: var(--color-secondary);
}

main {
  width: 100%;
  margin-top: var(--header-height);
}

.app-loading {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  font-size: .875rem;
}

.grid {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(6, minmax(300px, 1fr));
  grid-gap: var(--gap);
  height: 100%;
  padding: var(--gap);

  @media screen and (min-width: 1024px) {
    grid-template-columns: repeat(6, minmax(200px, 1fr));
  }
}

.dropdown {
  position: relative;

  &-menu {
    position: absolute;
    right: 0;
    min-width: 250px;
    overflow: hidden;
    font-size: .875rem;
    background: #fff;
    border: 1px solid var(--color-border);
    border-radius: var(--border-radius);
  }

  &-menu-item {
    padding: .5rem 1rem;
    cursor: pointer;
    border-bottom: 1px solid var(--color-border);
    &:hover {
      background-color: var(--color-button-ghost-hover);
    }
    &:last-child {
      border-bottom: none;
    }
  }
}
