:root {
  --transparent: rgba(0, 0, 0, 0);
  --white: #ffffff;
  --black: #000000;
  --color-text: #2c3338;
  --color-body-bg: #F6F7F7;
  --color-border: #dcdcde;
  --color-priority-high: #d82f2f;
  --color-priority-medium: #ff9940;
  --color-priority-low: #ffc107;
  --color-tag: #2c3338;
  --color-heading-highlight: #ffeaaa;
  --color-event: #d82f2f;
  --color-task-completed: #bcbcbf;
  --color-link-bg: #ececec;
  --color-quote: #556069;
  --header-height: 40px;
}

@import './font-face.scss';
@import './format.scss';

html,
body {
  height: 100%;
}

body {
  font-family: 'iA Writer Duospace', monospace;
  display: flex;
  line-height: 1;
  font-size: 1rem;
  background: var(--color-body-bg);
  color: var(--color-text);
}

.invisible {
  opacity: 0;
}


.app {
  display: flex;
  width: 100%;
  height: 100%;
}

.app-header {
  height: var(--header-height);
  width: 100%;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  background: #fff;
  z-index: 100;
  border-bottom: 1px solid var(--color-border);

  &__inner {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 1rem;
  }

  nav {
    a {
      color: var(--color-text);
    }

    svg {
      width: 16px;
    }
  }
}

main {
  margin-top: var(--header-height);
}

.grid {
  padding: 1rem;
  display: grid;
  grid-template-columns: repeat(6, minmax(300px, 1fr));
  grid-template-rows: 66% auto;
  grid-gap: 0.75rem;
  height: 100%;
}
