:root {
  --transparent: rgba(0, 0, 0, 0);
  --white: #ffffff;
  --black: #000000;
  --color-text: #2c3338;
  --color-body-bg: #F6F7F7;
  --color-border: #dcdcde;
  --color-priority-high: #d82f2f;
  --color-priority-medium: #ff9940;
  --color-priority-low: #ffc107;
  --color-tag: #2c3338;
  --color-heading-highlight: #ffeaaa;
  --color-event: #d82f2f;
  --color-gray-1: #bcbcbf;
}

@import './font-face.scss';
@import './format.scss';

html,
body {
  height: 100%;
}

body {
  font-family: 'iA Writer Duospace', monospace;
  display: flex;
  line-height: 1;
  font-size: 1rem;
  background: var(--color-body-bg);
  color: var(--color-text);
}

.invisible {
  opacity: 0;
}
