.btn {
  display: inline-flex;
  padding: .25rem 1rem;
  font-size: .875rem;
  text-align: center;
  cursor: pointer;
  border: none;
  border-radius: .25rem;
  outline: none;

  &-primary {
    color: #fff;
    background: var(--color-button-primary);
  }

  &-secondary {
    background: var(--color-button-secondary);
  }

  &-danger {
    color: #fff;
    background: var(--color-button-danger);
  }

  &-warning {
    background: var(--color-button-warning);
  }

  &-ghost {
    background: transparent;
    &:hover {
      background: var(--color-button-ghost-hover);
    }
  }

  &-icon {
    padding: .25rem;

    span {
      font-size: 0;
    }

    svg {
      width: 24px;
    }
  }

  &-link {
    padding: 0;
    color: inherit;
    background: transparent;
  }
}
