.btn {
	display: inline-flex;
	outline: none;
	border: none;
	cursor: pointer;
	padding: 0.25rem 1rem;
	border-radius: 0.25rem;
	font-size: 0.875rem;
	text-align: center;

	&-primary {
		background: var(--color-button-primary);
		color: #fff;
	}

	&-secondary {
		background: var(--color-button-secondary);
	}

	&-danger {
		background: var(--color-button-danger);
		color: #fff;
	}

	&-warning {
		background: var(--color-button-warning);
	}

	&-ghost {
		background: transparent;
		padding: 0.25rem 0.25rem;
		&:hover {
			background: var(--color-button-ghost-hover);
		}
	}

	&-icon {
		span {
			font-size: 0;
		}
	}

	&-link {
		padding: 0;
		background: transparent;
		color: inherit;
	}
}
