.strikethrough {
  text-decoration: line-through;
  color: var(--color-task-completed);
}

.badge {
  border-radius: 3px;
  color: var(--white);
}

.tag {
  background: var(--color-tag);
}

.task {
  position: relative;

  &:before {
    content: "";
    display: block;
    position: absolute;
    top: 2px;
    left: 12px;
    width: 16px;
    height: 16px;
    border: 2px solid var(--color-text);
  }

  &.completed {
    text-decoration: line-through;
    color: var(--color-task-completed);

    &:before {
      content: "✔";
      background: var(--color-text);
      color: white;
      line-height: 1;
      font-weight: bold;
      font-size: 0.85rem;
      text-align: center;
    }
  }
}

.event {
  .hljs-bullet {
    color: var(--color-event);
  }
}

.url {
  pointer-events: auto;
  text-decoration: none;
  background: var(--color-link-bg);
  color: var(--color-text);
  border-radius: 3px;
  opacity: .85;
  &:hover {
    opacity: 1;
  }
}

.priority {
  &.low {
    background: var(--color-priority-low);
  }
  &.medium {
    background: var(--color-priority-medium);
  }
  &.high {
    background: var(--color-priority-high);
  }
}
