.strikethrough {
  text-decoration: line-through;
  color: var(--gray-400)
}

.tag {
  font-weight: 700;
  border-radius: 3px;
  background: var(--blue-300);
  color: var(--blue-900);
}

.checklist {
  font-weight: 500;
  &.checked {
    @extend .strikethrough;
  }
}

.url {
  pointer-events: auto;
  text-decoration: none;
  background: var(--gray-200);
  border-radius: 3px;
}
