.strikethrough {
  text-decoration: line-through;
  color: var(--gray-600)
}

.tag {
  font-weight: 700;
  border-radius: 3px;
  background: var(--blue-300);
  color: var(--blue-900);
}

.task {
  .hljs-bullet {
    color: var(--blue-400)
  }
  &.complete {
    .hljs-bullet {
      color: var(--orange-400)
    }
    span:not([class="hljs-bullet"]) {
      @extend .strikethrough;
    }
  }
}

.url {
  pointer-events: auto;
  text-decoration: none;
  background: var(--gray-200);
  border-radius: 3px;
}

.priority {
  border-radius: 3px;
  font-weight: 600;
  &.low {
    background: var(--yellow-200);
    color: var(--orange-700);
  }
  &.medium {
    background: var(--orange-200);
    color: var(--orange-900);
  }
  &.high {
    background: var(--tomato-300);
    color: var(--tomato-900);
  }
}
