/* Ocean Comment */
.hljs-comment,
.hljs-quote {
  color: var(--gray-600);
}

/* Ocean Red */
.hljs-variable,
.hljs-template-variable,
.hljs-tag,
.hljs-name,
.hljs-selector-id,
.hljs-selector-class,
.hljs-regexp,
.hljs-deletion {
  color: var(--red-400);
}

/* Ocean Orange */
.hljs-number,
.hljs-built_in,
.hljs-builtin-name,
.hljs-literal,
.hljs-type,
.hljs-params,
.hljs-meta,
.hljs-link {
  color: var(--orange-400);
}

/* Ocean Yellow */
.hljs-attribute {
  color: var(--yellow-400)
}

/* Ocean Green */
.hljs-string,
.hljs-symbol,
.hljs-bullet,
.hljs-addition {
  color: var(--green-400);
}

/* Ocean Blue */
.hljs-title,
.hljs-section {
  color: var(--blue-400);
}

/* Ocean Purple */
.hljs-keyword,
.hljs-selector-tag {
  color: var(--purple-400);
}

.hljs {
  display: block;
  overflow-x: auto;
  background: #2b303b;
  color: #c0c5ce;
  padding: 0.5em;
}

.hljs-emphasis {
  font-style: italic;
}

.hljs-strong {
  font-weight: bold;
}

.hljs-bullet {
  font-weight: 700;
}
